<% movie_left, movie_right = movie_pair %>

<div class="movie-holder-outer left col-md-6 col-sm-12">
  <div class="movie-holder-inner left">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-12 image-holder">
        <% if movie_left.poster_image && movie_left.poster_image.thumb.url %>
          <%= link_to image_tag(movie_left.poster_image.url), movie_path(movie_left) %>
        <% else %>
          <img src="/thumb_movie-poster-template.jpg"/>
        <% end %>
      </div>

      <div class="col-md-7 col-sm-7 col-xs-12 info-holder">
        <h2><%= link_to shortened(movie_left.title, 35), movie_path(movie_left), title: movie_left.title %></h2>
        <h3><%= movie_left.release_date.strftime("%b %Y") %></h3>
        <h4>Dir. <%= shortened(movie_left.director,20) %> | <%= movie_left.runtime_in_minutes %> minutes</h4>
        <p title="<%= movie_left.description %>"><%= shortened(movie_left.description,180) %></p>
        <p><small><%= movie_left.reviews.count %> reviews. Average rating: <%= movie_left.review_average %></small></p>
      </div>
    </div>
  </div>
</div>

<% if movie_right %>
<div class="movie-holder-outer right col-md-6 col-sm-12">
  <div class="movie-holder-inner right">
    <div class="row">
      <div class="col-md-7 col-sm-7 col-xs-12 info-holder">
        <h2><%= link_to shortened(movie_right.title, 35), movie_path(movie_right), title: movie_right.title %></h2>
        <h3><%= movie_right.release_date.strftime("%b %Y") %></h3>
        <h4>Dir. <%= shortened(movie_right.director,20) %> | <%= movie_right.runtime_in_minutes %> minutes</h4>
        <p title="<%= movie_right.description %>"><%= shortened(movie_right.description,180) %></p>
        <p><small><%= movie_right.reviews.count %> reviews. Average rating: <%= movie_right.review_average %></small></p>
      </div>

      <div class="col-md-5 col-sm-5 col-xs-12 image-holder">
        <% if movie_right.poster_image && movie_right.poster_image.thumb.url %>
          <%= link_to image_tag(movie_right.poster_image.url), movie_path(movie_right) %>
        <% else %>
          <img src="/thumb_movie-poster-template.jpg"/>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>