<h1>Rotten Mangoes</h1>
<%= link_to "Submit a movie!", new_movie_path %>

<%= form_tag(movies_search_path, method: "get") do %>
  <%= label_tag(:search_query, "Search:") %>
  <%= text_field_tag(:search_query) %>
  <%= label_tag(:runtime_in_minutes, "Runtime:") %>
  <%= select_tag(:runtime_in_minutes, options_for_select([['', ''], ['Under 90 minutes', 1], ['Between 90 and 120 minutes', 2],['Over 120 minutes', 3]])) %>
  <%= submit_tag("Search") %>
<% end %>

<% @movies.each do |movie| %>
  <%= render partial: "movie_display", locals: {movie: movie} %>
<% end %>